In [1]:
import pandas as pd
import import_ipynb
import covid_dict as cd

importing Jupyter notebook from covid_dict.ipynb

In [2]:
dic = cd.covid_dict

In [3]:
df = pd.read_csv('input_datasets/no_death[1].csv', header=None, sep=',')
column_sum = df.sum(axis=0)

zeros = []
for i in range(0, len(column_sum)):
    if column_sum[i] == 0:
        zeros.append(i)

removed = []
for each in zeros: 
     removed.append(dic[each])

for e in zeros:
    del df[e]
    
for col,row in df.iteritems():
    df.loc[df[col] == 0, col] = 0
    df.loc[df[col] == 1, col] = int(df.columns.get_loc(col))

panda = df.to_numpy()

res = [[ele for ele in sub if ele != 0] for sub in panda]

pd.DataFrame(res).to_csv("input_datasets/panda/no_death[2].csv", header=None, index=False, sep =" ")

In [ ]:
#df.to_csv('input_datasets/assintomatico[2].csv', header=None, index=False)

In [4]:
df = pd.read_csv('input_datasets/assintomatico[1].csv', header=None, sep=',')
column_sum = df.sum(axis=0)

zeros = []
for i in range(0, len(column_sum)):
    if column_sum[i] == 0:
        zeros.append(i)

removed = []
for each in zeros: 
     removed.append(dic[each])

for e in zeros:
    del df[e]
    
for col,row in df.iteritems():
    df.loc[df[col] == 0, col] = 0
    df.loc[df[col] == 1, col] = int(df.columns.get_loc(col))

panda = df.to_numpy()

res = [[ele for ele in sub if ele != 0] for sub in panda]

pd.DataFrame(res).to_csv("input_datasets/panda/assintomatico[2].csv", header=None, index=False, sep =" ")

In [5]:
df = pd.read_csv('input_datasets/sintomatico[1].csv', header=None, sep=',')
column_sum = df.sum(axis=0)

zeros = []
for i in range(0, len(column_sum)):
    if column_sum[i] == 0:
        zeros.append(i)

removed = []
for each in zeros: 
     removed.append(dic[each])

for e in zeros:
    del df[e]
    
for col,row in df.iteritems():
    df.loc[df[col] == 0, col] = 0
    df.loc[df[col] == 1, col] = int(df.columns.get_loc(col))

panda = df.to_numpy()

res = [[ele for ele in sub if ele != 0] for sub in panda]

pd.DataFrame(res).to_csv("input_datasets/panda/sintomatico[2].csv", header=None, index=False, sep =" ")

In [7]:
df = pd.read_csv('input_datasets/sintomatico.csv', header=None, sep=',')
column_sum = df.sum(axis=0)
zeros = []
for i in range(0, len(column_sum)):
    if column_sum[i] == 0:
        zeros.append(i)

removed = []
for each in zeros: 
     removed.append(dic[each])

In [8]:
zeros

[0,
 9,
 43,
 63,
 80,
 122,
 131,
 193,
 214,
 217,
 225,
 234,
 263,
 280,
 286,
 305,
 311,
 312,
 326,
 463,
 468,
 489,
 492,
 561,
 592]

In [9]:
removed

['ACEGUÁ',
 'ALTO ALEGRE',
 'BOA VISTA DAS MISSÕES',
 'CAIBATÉ',
 'CANUDOS DO VALE',
 'CRISTAL DO SUL',
 'DOIS IRMÃOS DAS MISSÕES',
 'IBARAMA',
 'IVORÁ',
 'JACUIZINHO',
 'LAGOA BONITA DO SUL',
 'LINHA NOVA',
 'MUITOS CAPÕES',
 'NOVA RAMADA',
 'NOVO TIRADENTES',
 'PEDRAS ALTAS',
 'PINHAL DA SERRA',
 'PINHAL GRANDE',
 'PORTO VERA CRUZ',
 'TUPANCI DO SUL',
 'UBIRETAMA',
 'VISTA ALEGRE',
 'VITÓRIA DAS MISSÕES',
 'Dispneia_N',
 'Puerpera_S']

In [10]:
df

,0,1,2,3,4,5,6,7,8,9,...,584,585,586,587,588,589,590,591,592,593
0,0,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,1,0,1,0,1
1,0,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,1,0,1,0,1
2,0,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,1,0,1,0,1
3,0,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,1,0,1,0,1
4,0,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37801,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,1,0,1,0,1
37802,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,1,0,1,0,1
37803,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,1,0,1,0,1
37804,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,1,0,1,0,1
37805,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,1,0,1,0,1

In [11]:
len(df.index)

37806