In [1]:
import pandas as pd
import import_ipynb
import covid_dict as cd

importing Jupyter notebook from covid_dict.ipynb

In [2]:
df = pd.read_csv('input_datasets/only_death[1].csv', header=None, sep=',')

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,582,583,584,585,586,587,588,589,590,591
0,0,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,1,0,1,0,1
1,0,1,0,0,0,0,0,0,0,0,...,1,0,1,0,0,1,0,1,0,1
2,0,0,1,0,0,0,0,0,0,0,...,0,1,0,1,0,1,0,1,0,1
3,0,0,0,1,0,0,0,0,0,0,...,0,1,1,0,0,1,0,1,0,1
4,0,0,0,0,1,0,0,0,0,0,...,0,1,0,1,0,1,0,1,1,0

In [4]:
column_sum = df.sum(axis=0)

In [5]:
zeros = []
for i in range(0, len(column_sum)):
    if column_sum[i] == 0:
        zeros.append(i)

In [6]:
dic = cd.covid_dict

In [7]:
removed = []
for each in zeros: 
     removed.append(dic[each])
removed

['ACEGUÁ',
 'ALEGRIA',
 'ALMIRANTE TAMANDARÉ DO SUL',
 'ALTO ALEGRE',
 'ALTO FELIZ',
 'AMETISTA DO SUL',
 'ANDRÉ DA ROCHA',
 'ANTA GORDA',
 'ARROIO DO PADRE',
 'ÁUREA',
 'BARRA DO GUARITA',
 'BARRA DO RIO AZUL',
 'BENJAMIN CONSTANT DO SUL',
 'BOA VISTA DAS MISSÕES',
 'BOA VISTA DO BURICÁ',
 'BOA VISTA DO CADEADO',
 'BOA VISTA DO INCRA',
 'BOM JESUS',
 'BOM PROGRESSO',
 'BOZANO',
 'BRAGA',
 'BROCHIER',
 'CACEQUI',
 'CACIQUE DOBLE',
 'CAIBATÉ',
 'CAMARGO',
 'CAMBARÁ DO SUL',
 'CAMPESTRE DA SERRA',
 'CAMPOS BORGES',
 'CÂNDIDO GODÓI',
 'CANUDOS DO VALE',
 'CAPÃO DO CIPÓ',
 'CAPIVARI DO SUL',
 'CARLOS GOMES',
 'CENTENÁRIO',
 'CERRITO',
 'CHIAPETTA',
 'CHUÍ',
 'COLINAS',
 'COQUEIRO BAIXO',
 'CORONEL BARROS',
 'CORONEL PILAR',
 'COTIPORÃ',
 'CRISTAL DO SUL',
 'DERRUBADAS',
 'DOIS IRMÃOS DAS MISSÕES',
 'DOIS LAJEADOS',
 'DOUTOR RICARDO',
 'ENGENHO VELHO',
 'EREBANGO',
 'ERVAL GRANDE',
 'ERVAL SECO',
 'ESTRELA VELHA',
 'EUGÊNIO DE CASTRO',
 'FAGUNDES VARELA',
 'FLORIANO PEIXOTO',
 'FORMIGUEIRO',
 'FORQUETINHA',
 'GAURAMA',
 'GRAMADO DOS LOUREIROS',
 'GRAMADO XAVIER',
 'GUABIJU',
 'HERVEIRAS',
 'HUMAITÁ',
 'IBARAMA',
 'ILÓPOLIS',
 'IMIGRANTE',
 'IPIRANGA DO SUL',
 'ITATIBA DO SUL',
 'IVORÁ',
 'JABOTICABA',
 'JACUIZINHO',
 'JACUTINGA',
 'JÓIA',
 'LAGOA BONITA DO SUL',
 'LAGOA DOS TRÊS CANTOS',
 'LINHA NOVA',
 'MAMPITUBA',
 'MARATÁ',
 'MARIANO MORO',
 'MATA',
 'MATO LEITÃO',
 'MAXIMILIANO DE ALMEIDA',
 'MINAS DO LEÃO',
 'MORRINHOS DO SUL',
 'MUITOS CAPÕES',
 'MULITERNO',
 'NOVA BOA VISTA',
 'NOVA BRÉSCIA',
 'NOVA CANDELÁRIA',
 'NOVA RAMADA',
 'NOVA ROMA DO SUL',
 'NOVO CABRAIS',
 'NOVO MACHADO',
 'NOVO TIRADENTES',
 'PANTANO GRANDE',
 'PARAÍSO DO SUL',
 'PAULO BENTO',
 'PEDRAS ALTAS',
 'PINHAL',
 'PINHAL DA SERRA',
 'PINHAL GRANDE',
 'POÇO DAS ANTAS',
 'PONTE PRETA',
 'PORTO LUCENA',
 'PORTO VERA CRUZ',
 'PRESIDENTE LUCENA',
 'PROGRESSO',
 'PUTINGA',
 'QUINZE DE NOVEMBRO',
 'RELVADO',
 'RIO DOS ÍNDIOS',
 'RIOZINHO',
 'RODEIO BONITO',
 'ROLADOR',
 'RONDINHA',
 'SALTO DO JACUÍ',
 'SALVADOR DAS MISSÕES',
 'SANTA CECÍLIA DO SUL',
 'SANTA MARGARIDA DO SUL',
 'SANTO ANTÔNIO DO PALMA',
 'SÃO JOÃO DO POLÊSINE',
 'SÃO JOSÉ DAS MISSÕES',
 'SÃO JOSÉ DO HERVAL',
 'SÃO JOSÉ DO OURO',
 'SÃO MARTINHO DA SERRA',
 'SÃO PEDRO DA SERRA',
 'SÃO PEDRO DAS MISSÕES',
 'SÃO PEDRO DO BUTIÁ',
 'SÃO VALÉRIO DO SUL',
 'SEGREDO',
 'SENADOR SALGADO FILHO',
 'SÉRIO',
 'SETE DE SETEMBRO',
 'SEVERIANO DE ALMEIDA',
 'SILVEIRA MARTINS',
 'SINIMBU',
 'SOBRADINHO',
 'TABAÍ',
 'TAQUARUÇU DO SUL',
 'TRÊS ARROIOS',
 'TUPANCI DO SUL',
 'TUPANCIRETÃ',
 'TUPARENDI',
 'TURUÇU',
 'UBIRETAMA',
 'UNIÃO DA SERRA',
 'UNISTALDA',
 'VANINI',
 'VILA LÂNGARO',
 'VILA NOVA DO SUL',
 'VISTA ALEGRE',
 'VISTA ALEGRE DO PRATA',
 'VITÓRIA DAS MISSÕES',
 'WESTFALIA',
 'RECUPERADO',
 'EM ACOMPANHAMENTO',
 'OBITO OUTRAS CAUSAS',
 'Hosp_SRAG_N',
 'Prof_Saude_S',
 'Prof_Saude_N',
 'DRespiratoria_S',
 'DCromossomica_S']

In [9]:
for e in zeros:
    del df[e]

In [10]:
df.to_csv('input_datasets/only_death[2].csv', header=None, index=False)